.blockCollapse{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blockCollapse__redbar{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 3vh;
    border-radius: 5px;
    color: white;
    background-color: #FF6060;
    font-size: 1.5em;
    margin-top: 40px;
    padding: 10px;
}

.blockCollapse__btnArrow{
    cursor: pointer;
    position: absolute;
    top: 27%;
    right: 20%;
    transition: transform 400ms;
}

.blockCollapse__greybar{
    display: flex;
    align-items: center;
    width: 60vw;
    height: 5vh;
    background-color: #f6f6f6;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 400ms cubic-bezier(.32, 0, .07, 1) ;
}

/* .blockCollapse__text{
    color: #FF6060;
    transform: translateY(-250%);
    transition: transform 400ms cubic-bezier(.32, 0, .07, 1) 20ms;
}

.blockCollapse__btnArrow:active{
    transform: rotate(180deg);    
}

.blockCollapse__btnArrow:active + .blockCollapse__greybar{
    transform: scaleY(1);
    .blockCollapse__text{
        transform: translateY(0);
    }
} */